main .hero {
    height: 100vh;
    width: 100vw;
    background-color: #00DBDE;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

main .hero .container {
    width: 300px;
    margin: 0 0 0 30px;
}

main .hero .container h1 {
    font-size: 48px;
}

main .hero .container p {
    font-size: 32px;
    padding-bottom: 20px;
}

main .hero .container button {
    background: transparent;
    cursor: pointer;
    width: 180px;
    height: 60px;
    border-radius: 15px;
    border: 6px solid rgba(28, 157, 218, 1);
    transition: 0.6s all ease 0s;
    color: black;
}

main .hero .container button:hover {
    background-color: rgba(28, 157, 218, 1);
}

main .plans {
    width: 100vw;
    padding: 100px 45px 50px 45px;
    background-color: #EDF2F7;
}

main .plans .container h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-style: italic;
}

main .plans .container .feature {
    padding: 30px 30px 30px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow:
        1.6px 1.6px 1.2px rgba(0, 0, 0, 0.07),
        3.4px 3.4px 2.7px rgba(0, 0, 0, 0.055),
        5.8px 5.8px 4.6px rgba(0, 0, 0, 0.048),
        8.7px 8.7px 6.9px rgba(0, 0, 0, 0.043),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.039),
        17.7px 17.7px 14.2px rgba(0, 0, 0, 0.035),
        25.1px 25.1px 20.1px rgba(0, 0, 0, 0.031),
        36.5px 36.5px 29.2px rgba(0, 0, 0, 0.027),
        56.3px 56.3px 45px rgba(0, 0, 0, 0.022),
        100px 100px 80px rgba(0, 0, 0, 0.015);
    border-radius: 15px;
}

main .plans .container .feature:first-of-type {
    margin-top: 20px;
}

main .plans .container .feature p {
    margin-top: 20px;
}

main .plans .container button {
    background: transparent;
    width: 180px;
    height: 60px;
    border-radius: 15px;
    border: 6px solid rgba(28, 157, 218, 1);
    transition: 0.6s all ease 0s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    color: black;
    box-shadow:
        1.6px 1.6px 1.2px rgba(0, 0, 0, 0.07),
        3.4px 3.4px 2.7px rgba(0, 0, 0, 0.055),
        5.8px 5.8px 4.6px rgba(0, 0, 0, 0.048),
        8.7px 8.7px 6.9px rgba(0, 0, 0, 0.043),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.039),
        17.7px 17.7px 14.2px rgba(0, 0, 0, 0.035),
        25.1px 25.1px 20.1px rgba(0, 0, 0, 0.031),
        36.5px 36.5px 29.2px rgba(0, 0, 0, 0.027),
        56.3px 56.3px 45px rgba(0, 0, 0, 0.022),
        100px 100px 80px rgba(0, 0, 0, 0.015);
}

main .plans .container button:hover {
    background-color: rgba(28, 157, 218, 1);
    color: white;
}