/* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}

body {
    background-color: #eee;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    box-shadow:
        1.3px 3.7px 2.2px rgba(0, 0, 0, 0.07),
        3.1px 8.8px 5.3px rgba(0, 0, 0, 0.042),
        5.9px 16.7px 10px rgba(0, 0, 0, 0.037),
        10.5px 29.7px 17.9px rgba(0, 0, 0, 0.037),
        19.6px 55.6px 33.4px rgba(0, 0, 0, 0.036),
        47px 133px 80px rgba(0, 0, 0, 0.032)
    ;
}

header .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 32px 32px;
    align-items: center;
}

header .container .header-logo-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

header .container .header-logo-group p {
    font-size: 24px;
    padding-top: 5px;
    padding-left: 10px;
}

header .container .header-logo-group p span {
    color: #fff;
    font-weight: 600;
    padding: 0 2px;
    text-transform: uppercase;
    font-style: italic;
    /* background: linear-gradient(150deg, #25295c, #262a62, #292b75, #312d92, #3f2eb8, #5b39d9, #8358e7, #a879f2, #c699f9, #dcb6fd, #e8caff, #ecd1ff); 
    /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);    
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

header .container .header-logo-group img {
    width: 48px;
    height: 48px;
    transform: rotate(50deg);
}

/** Nav Buttons 

header .container .header-nav-group nav a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    padding: 5px 10px;
    transition: 0.4s ease;
    border-radius: 15px;
}

header .container .header-nav-group nav a:hover {
    background-color: black;
    color: white;
} */

/** GLOBALS */

body {
    overflow-x: hidden;
}

/** HERO */

main .hero {
    height: 100vh;
    width: 100vw;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

main .hero .container {
    width: 300px;
    margin: 0 0 0 30px;
}

main .hero .container h1 {
    font-size: 48px;
}

main .hero .container p {
    font-size: 32px;
    padding-bottom: 20px;
}

main .hero .container button {
    background: transparent;
    cursor: pointer;
    width: 180px;
    height: 60px;
    border-radius: 15px;
    border: 6px solid rgba(28, 157, 218, 1);
    transition: 0.6s all ease 0s;
    color: white;
}

main .hero .container button:hover {
    background-color: rgba(28, 157, 218, 1);
}

/** DESIGN */

main .design {
    width: 100vw;
    padding: 100px 45px 50px 45px;
    background-color: #EDF2F7;
}

main .design .container h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-style: italic;
}

main .design .container .feature {
    padding: 30px 30px 30px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow:
        1.6px 1.6px 1.2px rgba(0, 0, 0, 0.07),
        3.4px 3.4px 2.7px rgba(0, 0, 0, 0.055),
        5.8px 5.8px 4.6px rgba(0, 0, 0, 0.048),
        8.7px 8.7px 6.9px rgba(0, 0, 0, 0.043),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.039),
        17.7px 17.7px 14.2px rgba(0, 0, 0, 0.035),
        25.1px 25.1px 20.1px rgba(0, 0, 0, 0.031),
        36.5px 36.5px 29.2px rgba(0, 0, 0, 0.027),
        56.3px 56.3px 45px rgba(0, 0, 0, 0.022),
        100px 100px 80px rgba(0, 0, 0, 0.015);
    border-radius: 15px;
}

main .design .container .feature:first-of-type {
    margin-top: 20px;
}

main .design .container .feature p {
    margin-top: 20px;
}

main .design .container button {
    background: transparent;
    width: 180px;
    height: 60px;
    border-radius: 15px;
    border: 6px solid rgba(28, 157, 218, 1);
    transition: 0.6s all ease 0s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    color: black;
    box-shadow:
        1.6px 1.6px 1.2px rgba(0, 0, 0, 0.07),
        3.4px 3.4px 2.7px rgba(0, 0, 0, 0.055),
        5.8px 5.8px 4.6px rgba(0, 0, 0, 0.048),
        8.7px 8.7px 6.9px rgba(0, 0, 0, 0.043),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.039),
        17.7px 17.7px 14.2px rgba(0, 0, 0, 0.035),
        25.1px 25.1px 20.1px rgba(0, 0, 0, 0.031),
        36.5px 36.5px 29.2px rgba(0, 0, 0, 0.027),
        56.3px 56.3px 45px rgba(0, 0, 0, 0.022),
        100px 100px 80px rgba(0, 0, 0, 0.015);
}

main .design .container button:hover {
    background-color: rgba(28, 157, 218, 1);
    color: white;
}

/** HOSTING */

main .hosting {
    width: 100vw;
    padding: 100px 45px 50px 45px;
    background-color: #EDF2F7;
}

main .hosting .container h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-style: italic;
}

main .hosting .container .feature {
    padding: 30px 30px 30px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow:
        1.6px 1.6px 1.2px rgba(0, 0, 0, 0.07),
        3.4px 3.4px 2.7px rgba(0, 0, 0, 0.055),
        5.8px 5.8px 4.6px rgba(0, 0, 0, 0.048),
        8.7px 8.7px 6.9px rgba(0, 0, 0, 0.043),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.039),
        17.7px 17.7px 14.2px rgba(0, 0, 0, 0.035),
        25.1px 25.1px 20.1px rgba(0, 0, 0, 0.031),
        36.5px 36.5px 29.2px rgba(0, 0, 0, 0.027),
        56.3px 56.3px 45px rgba(0, 0, 0, 0.022),
        100px 100px 80px rgba(0, 0, 0, 0.015);
    border-radius: 15px;
}

main .hosting .container .feature p {
    margin-top: 20px;
}

main .hosting .container .feature:first-of-type {
    margin-top: 20px;
}

main .hosting .container button {
    background: transparent;
    width: 180px;
    height: 60px;
    border-radius: 15px;
    border: 6px solid rgba(28, 157, 218, 1);
    transition: 0.6s all ease 0s;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color: black;
    box-shadow:
        1.6px 1.6px 1.2px rgba(0, 0, 0, 0.07),
        3.4px 3.4px 2.7px rgba(0, 0, 0, 0.055),
        5.8px 5.8px 4.6px rgba(0, 0, 0, 0.048),
        8.7px 8.7px 6.9px rgba(0, 0, 0, 0.043),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.039),
        17.7px 17.7px 14.2px rgba(0, 0, 0, 0.035),
        25.1px 25.1px 20.1px rgba(0, 0, 0, 0.031),
        36.5px 36.5px 29.2px rgba(0, 0, 0, 0.027),
        56.3px 56.3px 45px rgba(0, 0, 0, 0.022),
        100px 100px 80px rgba(0, 0, 0, 0.015);
}

main .hosting .container button:hover {
    background-color: rgba(28, 157, 218, 1);
    color: white;
}